<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageEncryption.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JSONParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NSImageDownloadManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>S3ImageUpload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SnapChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UIShowingSlider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>UUID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WebService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>050D2EFC1663ED66003B9D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050D2F141663EF60003B9D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057E0E3F16645B8500D45EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057E0E6016645FDD00D45EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057E0E711664638400D45EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057E0E85166479CE00D45EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057E0ED416648A5300D45EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057E0EE416648AA900D45EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05D8888116655AF700247AE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
